<div class="row col-sm-16">
	<i class="fa fa-wrench" ng-click="main.editExchange()"></i>
	<div class="jumbotron">
		<h3>{{ main.currentExchangeName }}<br> <small>{{ main.owner }}'s Wishlist</small></h3>

		<ul class="list-group" ng-sortable="{handle:'.drag-handle', animation:150}">
			<li class="list-group-item" ng-repeat="item in main.wishlist" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" draggable="false" class>
				<span class="drag-handle">☰</span>
				<a ng-href="{{ item.url }}" target="_blank" ng-show="item.url">{{ item.description }}</a>
				<span ng-show="!item.url">{{ item.description }}</span>
				<i class="glyphicon glyphicon-remove" ng-show="hoverEdit" ng-click="main.removeItem(item.id)"></i>
				<i class="glyphicon glyphicon-edit" ng-show="hoverEdit" ng-click="editItem= !editItem"></i>

				<!-- Edit an existing item -->
				<ul class="list-group edit-list" ng-show="editItem">
					<li class="list-group-item">
						<form class="form-horizontal" ng-submit="main.updateItem(item.id, $index); editItem = false">
							<input type="text" value="{{ item.description }}" class="form-control" name="newDescription">
							<input type="text" value="{{ item.url }}" class="form-control" name="newUrl">
							<div class="edit-form-buttons" align="right">
								<button type="reset" class="btn btn-danger glyphicon glyphicon-ban-circle" ng-click="editItem = false"></button>
								<button type="submit" class="btn btn-primary glyphicon glyphicon-ok"></button>
							</div>
						</form>
					</li>
				</ul>
			</li>
		</ul>

		<!-- Add a new item -->
		<ul class="list-group">
			<li class="list-group-item">
				<form class="form-horizontal" ng-submit="main.addItem()">
					<input type="text" class="form-control" ng-model="main.userData.description"
						placeholder="Enter a new item...">
					<input type="text" class="form-control" ng-model="main.userData.url"
						placeholder="Enter a URL (optional)...">
					<button type="submit" class="btn btn-success btn-lg btn-block">Add</button>
				</form>
			</li>
		</ul>
	</div>
</div>
