/* VARIABLES
==================== */
blue = #33b5e5
orange = #e56333
purple = #993399
red = #cc3333
black = #000000
white = #FFFFFF

/* MAIN
==================== */
body
	h1
		text-align center

.fa-gift
	padding-right 15px

.fa-plus
	padding-right 10px

.fa-wrench
	float right

.fa-wrench:hover
	color green

.glyphicon-edit
	float right
	padding-right 15px

.glyphicon-remove
	float right
	color red

.drag-handle
	padding-right 10px

.edit-list
	padding-top 20px
